import os
from dotenv import load_dotenv, find_dotenv

load_dotenv(find_dotenv())


class cred():
    API_TOKEN = "Enter your bot token"
    OWNER_ID = #id of the Owner of the bot, a int value
    DB_NAME = "Enter postgres db name"
    USER_NAME = "Enter postgres user name"
    USER_PASS = "Enter postgres user pass"
    HOST_NAME = "Enter postgres server host url"
